* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  font-size: 30px;
}

header {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.green_button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* Prevent text wrapping */
  display: inline-flex; /* Align icon and text horizontally */
  align-items: center; /* Vertically center content */
  gap: 6px; /* Optional: space between + and text */
}

.green_button .icon {
  font-size: 20px;
  margin-right: 8px;
}

.green_button:hover {
  background-color: #45a045;
}

main {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 20px; */
}

.card {
  display: flex;
  border: 1px solid #000;
  padding: 16px;
  border-radius: 6px;
  width: auto;
  background-color: #fff;
  align-items: flex-start;
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #000;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.card-content .description {
  margin: 8px 0 4px;
  font-size: 14px;
  border-bottom: 1px solid #000;
  display: inline-block;
  max-width: fit-content;
}

.card-content .location {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px;
  max-width: fit-content;
  border-bottom: 1px solid #000;
}

.card-content .price {
  color: #4ab14a;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: auto;
}

@media only screen and (max-width: 910px) {
  main {
    width: 90%;
  }
  h1 {
    padding-top: rem;
  }
  header {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 1rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: none;
  }
}
@media only screen and (min-width: 767px) {
  main {
    width: 80%;
  }
  header {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  main {
    width: 90%;
  }
  header {
    width: 1000px;
  }
}
