* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 30px;
}

header {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.green_button {
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* transition: 0.2s ease; */
}

.green_button .icon {
  font-size: 20px;
  margin-right: 8px;
}

.green_button:hover {
  background-color: #45a045;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
