* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 30px;
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.message {
  color: orange;
  size: 2rem;
  text-align: right;
}

.card {
  width: 50%;
  height: 150px;
}

.green_button {
  width: fit-content;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* Prevent text wrapping */
  display: inline-flex; /* Align icon and text horizontally */
  align-items: center; /* Vertically center content */
  gap: 6px; /* Optional: space between + and text */
}

.green_button .icon {
  font-size: 20px;
  margin-right: 8px;
}

.green_button:hover {
  background-color: #45a045;
}

header,
main {
  width: 50%;
  display: flex;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.product-page {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#img {
  display: block;
  max-inline-size: 100%;
  border: 1px solid #000;
}

#price {
  color: #4ab14a;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
#location {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

p {
  max-inline-size: 60%;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 910px) {
  main {
    width: 90%;
  }
  h1 {
    padding-top: rem;
  }
  header {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 1rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header ul {
    display: flex;
    flex-direction: row;
    justify-content: none;
  }
}
@media only screen and (min-width: 767px) {
  main {
    width: 80%;
  }
  header {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  main {
    width: 90%;
  }
  header {
    width: 1000px;
  }
}
